{% extends 'base.html' %}
{% load static %}

{% block header%}
{% endblock %}
{% block contents%}
    <div class="msg_history" id="board">
            <div class="chat-header" style="text-align:center">
                {{room_name}}
            </div>
             <p><a href="/chat/" class="back">＜戻る</a></p>
        <div class="chat-room-body" id="chat-log">
        {% for message in db_messages %}
            {% if message.name == user.get_username %}
            <div class="chat-box" id="chat_id" style="text-align:right">
                <div class="chat-header" id="chat_me" style="text-align:right">
                    名前：{{ message.name }}
                </div>
                <div class="chat-body" style="text-align:right">
                    {{message.content}}
                </div>
            </div>
            {% else %}
            <div class="chat-box" id="chat_id" style="text-align:left">
                <div class="chat-header" id="chat_you">
                    名前：{{ message.name }}
                </div>
                <div class="chat-body">
                    {{ message.content }}
                </div>
            </div>
            {% endif %}
        {% endfor %}
            <div id="footer"></div>
        </div>
        <div style="text-align:center" name="chat_input"　>
            <input placeholder="メッセージを入力" id="chat-message-input" name="chat_name" type="text" size="100">
            <input id="chat-message-submit" type="button" value="送信">
        </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat_r/'
            + roomName
            + '/'
        );


        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
            var messageBox = document.createElement('div')
            messageBox.className = 'chat-box'
            var text_style = 0;
            if (data.name == "{{ user.get_username }}") {
               text_style = 1;
            } else {
                text_style = 2;
            }
            if (text_style == 1){
                var box = '<div class="chat-box" style="text-align:right">' + '<div class="chat-header">名前：' +
                data.name + '</div>' + '<div class="chat-body" style="margin-bottom:10px">' +
                data.message + '</div>' + '</div>';
            } else {
                var box = '<div class="chat-box" style="text-align:left">' + '<div class="chat-header">名前：' +
                data.name + '</div>' + '<div class="chat-body" style="margin-bottom:10px">' +
                data.message + '</div>' + '</div>';
            }
            document.getElementById('footer').insertAdjacentHTML('beforebegin', box)
            document.getElementById('footer').appendChild(messageBox)
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        <!--送信ボタン押下時処理-->
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            if (messageInputDom.value == ""){
                alert("入力してください");
                return false;
            } else{
            }
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'name':"{{ user.get_username }}"
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}