{% extends 'base.html' %}
{% load static %}


{% block header%}
{% endblock %}
{% block contents%}
<div class="create-room-box" style="text-align:center">
    <form action="/room/" method="post">
        {% csrf_token %}
        部屋を作成しますか？<br>
        <input placeholder="ルームを作成" id="room-name-input" name="room_name" type="text" size="100">
        <input id="room-name-submit" type="submit" class="send" value="作成">
    </form>
</div>

<h2>ルーム一覧</h2>
<ul class="select-room-box">
{% for room in room_list %}
    <a href="/chat_r/{{ room.name }}">{{ room.name }}</a>
{% endfor %}
</ul>
{% endblock %}

