{% extends 'base.html' %}
{% load static %}


{% block active_diary_list %}active{% endblock %}

{% block contents %}
<div class="container col-lg-6 offset-lg-3">
    <!---記事タイトルを表示-->
    <h4 class="titleline">
        <div class="col-3">
            タイトル:{{ post.title }}
        </div>
    </h4>
    <form action="" method="POST" id="comment-form">
          {% csrf_token %}
          <table class="table">
                {{ form.as_table }}
          </table>
        <div class="row my-3">
            <button type="submit" class="btn btn-success col-3 offset-2">投稿する</button>
            <a class="btn btn-danger col-3 offset-2" href="{% url 'precomi:diary_detail' post.pk %}">キャンセル</a>
        </div>
    </form>
</div>
{% endblock %}