{% extends 'base.html' %}
{% load static %}

{% block contents %}

    {% if not user_list %}
        <div>
            <a class="btn btn-primary float-right" href="{% url 'precomi:profile_create' %}">新規</a>
        </div>
    {% endif %}

    {% for i in user_list %}
        <div style="text-align:center">
            {% if i.image1 %}
                <img src="{{ i.image1.url }}" class="pimg" width="200" height="200"></img>
            {% else %}
            {% endif %}
        </div>
        <div class="flex between imgcenter"  style="text-align:center" id="prof_id">
            <h2 class="item prof_data">
                名前<br>
                {{ i.name }}
            </h2>
            <h2 class="item prof_data">
                生年月日<br>
                {{i.datebirth}}
            </h2>
            <h2 class="item prof_data">
                血液型<br>
                {{i.bloodtype}}
            </h2>
            <h2 class="item prof_data">
                月経周期<br>
                {{i.precycle}}
            </h2>
            <h2 class="item prof_data">
                電話番号<br>
                {{i.telnum}}
            </h2>
            <h2 class="item prof_data">
                緊急連絡先<br>
                {{i.egcontact}}
            </h2>
            <h2 class="item prof_data">
                コメント<br>
                {{i.comment| linebreaksbr }}
            </h2>
        </div>
        <div style="text-align:right">
            <a href="{% url 'precomi:profile_update' i.pk %}" class="btn btn-primary">編集</a>
        </div>
    {% empty %}
        <p>プロフィールがありません。</p>
    {% endfor %}
{% endblock %}
