{% extends 'base.html' %}
{% load static %}
{% block contents%}
    <div>
        <button type="button"><a href="{% url 'precomi:profile_update' %}">編集</a></button>
    </div>
    <div>
        <button type="button"><a href="{% url 'precomi:profile_create' %}">新規</a></button>
    </div>
<!--for文でmodelのuserの情報を表示(画像、名前、性別、生年月日、血液型、月経周期、電話番号、症状)-->
        {% for i in user_list %}
                {% if i.image1 %}
                        <img id="img_wrap" src="{{i.image1.url}}" width="200" height="200"></img>
                {% endif %}
                <h2>
                    名前:{{ i.name }}
                </h2>
                <h2>
                    性別:{{i.sex}}
                </h2>
                <h2>
                    生年月日:{{i.datebirth}}
                </h2>
                <h2>
                    血液型:{{i.bloodtype}}
                </h2>
                <h2>
                    月経周期:{{i.precycle}}
                </h2>
                <h2>
                    電話番号:{{i.telnum}}
                </h2>
                <h2>
                    症状:{{i.symptoms}}
                </h2>
        {% endfor %}
{% endblock %}