{% extends 'base.html' %}
{% load static %}

{% block contents %}

    {% if not user_list %}
        <div>
            <a class="btn btn-primary float-right" href="{% url 'precomi:profile_create' %}">新規</a>
        </div>
    {% endif %}

    {% for i in user_list %}
        <div style="text-align:center">
            {% if i.image1 %}
                <img src="{{ i.image1.url }}" class="pimg" width="200" height="200"></img>
            {% else %}
            {% endif %}
        </div>
        <div class="flex between imgcenter"  style="text-align:center">
            <h2 class="item">
                名前:{{ i.name }}
            </h2>
            <h2 class="item">
                生年月日:{{i.datebirth}}
            </h2>
            <h2 class="item">
                血液型:{{i.bloodtype}}
            </h2>
            <h2 class="item">
                月経周期:{{i.precycle}}
            </h2>
            <h2 class="item">
                電話番号:{{i.telnum}}
            </h2>
            <h2 class="item">
                緊急連絡先:{{i.egcontact}}
            </h2>
            <h2 class="item">
                コメント:{{i.comment| linebreaksbr }}
            </h2>
        </div>
        <div style="text-align:right">
            <a href="{% url 'precomi:profile_update' i.pk %}" class="btn btn-primary">編集</a>
        </div>
    {% empty %}
        <p>プロフィールがありません。</p>
    {% endfor %}
{% endblock %}
